body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#navbar{
    width: 100%;
    background-color: blueviolet;
}
#nav-container{
    width: 80%;
}
#nav-container img{
    height: 30px;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 15px;
}
#nav-container span{
    font-size: 25px;
}
.color{
    color: blueviolet;
}
.first-section h1{
    font-size: 50px;
}
p{
    text-align: justify;
    font-size: 20px;
    color: rgb(2, 2, 2);
    padding-right: 25px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 100%;
    height: 680px;
    position: left;
    padding-top: 20px;
}
.first-section{
    background-image: url(images/bgimg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
}
.link-button{
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(skyblue, darkblue);
    color: black;
    font-weight: 700;
    padding: 16px 30px;
    box-shadow: 0px 0px 10px rgb(0, 183, 255);
}
.second-section{
    background-image: url(images/bgimg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
}
h3{
    font-size: 40px;
    padding-top: 150px;
}
h2{
    text-align: center;
    font-size: 35px;
}
.recipes{
    text-align: center;
}
.small-part{
    color: blueviolet;
}
.width-flex{
    width: 28%;
    box-shadow: 0px 0px 30px gray;
    margin-right: 4%;
    padding-left: 20px;
    border-radius: 30px;
}
h4{
    font-size: 25px;
}
.third-section{
    display: flex;
    margin-bottom: 50px;
    margin-left: 55px;
    margin-bottom: 100px;
}
.image1{
    width: 335px;
    height: 250px;
    margin-top: 20px;
    border-radius: 20px;
    position: center;
}
.horizontal{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 120px;
    justify-content: space-around;
    box-shadow: 0px 0px 30px gray;
    border-radius: 20px;
    padding: 30px 0px;
    margin-bottom: 100px;
    text-align: justify;
}
.horizontal h1{
    font-size: 40px;
    margin: 0;
}
.horizontal p{
    margin: 0;
}
.footer-adding{
    background-color: black;
    height: 200px;
}
.footer-adding h2{
    font-size: 30px;
    margin: 0 auto;
    color: gray;
    padding-top: 30px;
}
.footer-adding span{
    color: rgb(250, 113, 15);
}
.footer-adding p{
    color: rgb(245, 237, 237);
    text-align: center;
    font-size: small;
}